section{
    height: 500vh;
    background-image:src="/C:\Users\Didi\Desktop\job/p1.jpg";
} 
nav{
        background-color: white;
        margin: 1rem;
}
/* #logo{
        display:flex;
        align-items: center;
} */
form{
    display:flex;
    align-items: center;
}
#part2{
    display:flex;
    align-items: left;
}